*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html{
    font-size: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@700&display=swap');

body{
    background-color:#f4f4f9;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

section{

        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5% 0 10% 0;
}

a{
    color: #fdc758;
}

a:hover{
    text-decoration: underline;
}

#logoTypo{
    top: 2%;
    left: 1%;
    position: absolute;
    font-size: 1.5rem;
    color: #f4f4f9;
}

header img{
    width: 100vw;
    display: flex;
    align-self: baseline;
}

h1{
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 5%;
    display: flex;
    justify-self: center;
    align-self:center;
    font-size: 2rem;
    color: #1a181b;
}



#searchBarre{
    margin: 0 5% 0 0;
    display: flex;
    padding: 0 2% 0 2%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    border: 2px solid #f4f4f9;
    width: 40vw;
    height: 6vh;
    border-radius: 50px;
    background: #e9f0f1;
}

#searchBarre p{
    padding-right: 35%;
    color: #1a181b;
    font-size: 0.7rem;
}

#presentation{
    width: 100vw;
    background-color: #4062BB;
}

#presentationDepartement{
    width: 100vw;
    background-color: #4062BB;
}

#presentation h1,#presentationDepartement h1,#choixAPresenter h1,#presentationCarte h1{
    color: #e9f0f1;
}

#boxinfo{
    /* position: relative; */
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.info{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    /* width:250px;
    height:250px;
    background: #e9f0f1; */
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.info p{
    text-align: center;
    color: #e9f0f1;
    padding: 3%;
    font-size: 1em;
}

.info:nth-of-type(2):hover{
    z-index: 3;
}

.info:nth-of-type(4):hover{
    z-index: 2;
}

#trouverLieux{
    width: 100vw;
    position: relative;
}

#recherche{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

#boutonRecherche{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e9f0f1;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

#boutonRecherche p{
    text-align: center;
    color: #1a181b;
    font-size: 1em
}

#boutonLieu{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4062BB;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

#boutonLieu p{
    text-align: center;
    color: #e9f0f1;
    font-size: 1em
}

#research{
    width: 2vw;
}

#maCarte{
border-radius: 30px;
position: relative;
display: flex;
width: 50vw;
height: 50vh;
margin-left: 10%;
}

#maCarteDepartement{
    border-radius: 30px;
position: relative;
display: flex;
width: 40vw;
height: 60vh;
}

#choixAPresenter{
    width: 100vw;
    background-color: #4062BB;
}

.contenerCard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    overflow-x: scroll;
    padding: 1% 0 1% 0;
    /* scroll-snap-type: x mandatory; */
}

.card {
  width: 300px;
  height: 400px;
  border-radius: 40px;
  /* margin: 0 1vw 3vh 1vw; */
  flex: 1 0 auto;
    margin-left: 2%;
    /* scroll-snap-align: start; */
        position: relative;
        
}
.card:hover .card-background {
    transform: scale(1.02) translateZ(0);
  }
  
  
  .cards:hover > .card:not(:hover) .card-background {
    filter: brightness(0.7) saturate(0) contrast(1.2) blur(5px);
  }

    .card-background {
        background-size: cover;
        background-position: center;
        border-radius: 12px;
        filter: brightness(0.7) saturate(1.5) contrast(0.9); /* A MODIFIER!!!!!! */ 
        position: absolute; /* image de fond prend toute la place de la cards (avec les 4 lignes du dessous)*/
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform-origin: center;
        transition: .2s;
      }

::-webkit-scrollbar {
    width: 20px;
        background-color: #4062BB;
  } /* the new scrollbar will have a flat appearance with the set background color */

  ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5); 
  } /* this will style the thumb, ignoring the track */

  ::-webkit-scrollbar-button {
        background-color: #fdc758;
  } /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

  ::-webkit-scrollbar-corner {
        background-color: #1a181b;
  }

.card .ville {
    position: relative;
  padding: 3vh 0 0 1vw;
  color: #e9f0f1;
  z-index: 5;
}

.card:hover .ville {
  color: #e9f0f1;
}
    
.card .monument {
    position: relative;
    padding: 1vh 0 0 1vw;
    color: #1a181b;
    z-index: 100;
  }

  .card:hover .monument {
    color: #e9f0f1;
  }
   
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background: #fdc758;
}

#boutonCodePostal {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4062BB;
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

#boutonCodePostal p{
    color: #e9f0f1;
}

#infoDepartement{
    color: #e9f0f1;
    margin: 0 0 0 10%;
    width: 60%;
}

#menuSecondaireHorizontal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 7vh;
    border-radius: 30px;
    background: #4062BB;
}

#menuSecondaireHorizontal span{
   color: #e9f0f1;
}

#icone{
display: flex;
width: 50vw;
justify-content: space-between;
}

.Avoir, .Voyager, .SportEtLoisirs, .ServicesPublics, .Santé, .CommercesEtServices, .DonnéesPubliques{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4062BB;
    width: 80px;
    height: 80px;
    border-radius:30px;
}

#presentationCarte{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4062BB;
}

#presentationCarte h2{
    display: flex;
    /* justify-self: self-start; */
    /* align-self: self-start; */
    margin-right: 70vw;
    color: white;
} 

.positionPresentation{
    display: flex;
    justify-content: center;
    align-items: center;
}

#boxinfo{
      width: 60vw;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}


/* #maCarte{
    border-radius: 30px;
position: relative;
display: flex;
width: 40vw;
height: 50vh;
margin-left: 10%;
} */


.contenerCard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.cards{
    display: flex;
    overflow-x: scroll;
    padding: 1% 0 1% 0;
    /* scroll-snap-type: x mandatory; */
}

.card {
  width: 300px;
  height: 400px;
  border-radius: 40px;
  /* margin: 0 1vw 3vh 1vw; */
  flex: 1 0 auto;
    margin-left: 2%;
    /* scroll-snap-align: start; */
        position: relative;
        
}
.card:hover .card-background {
    transform: scale(1.02) translateZ(0);
  }
  
  
  .cards:hover > .card:not(:hover) .card-background {
    filter: brightness(0.7) saturate(0) contrast(1.2) blur(5px);
  }

    .card-background {
        background-size: cover;
        background-position: center;
        border-radius: 12px;
        filter: brightness(0.7) saturate(1.5) contrast(0.9); /* A MODIFIER!!!!!! */ 
        position: absolute; /* image de fond prend toute la place de la cards (avec les 4 lignes du dessous)*/
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transform-origin: center;
        transition: .2s;
      }

.card .ville {
    position: relative;
  padding: 3vh 0 0 1vw;
  color: #e9f0f1;
  z-index: 5;
}

.card:hover .ville {
  color: #e9f0f1;
}
    
.card .monument {
    position: relative;
    padding: 1vh 0 0 1vw;
    color: #1a181b;
    z-index: 100;
  }

  .card:hover .monument {
    color: #e9f0f1;
  }
   
#fleche{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    align-content: center;
    width: 100vw;
}

.fleche.gauche{
    position: absolute;
    left: 5vw;
    margin-top: 50vh;
    color: #e9f0f1;
    width: 10vw;
    }

.fleche.droite{
    position: absolute;
    right: -2vw;
    margin-top: 50vh;
    color: #e9f0f1;
    width: 10vw;
        }

#boutonCodePostal {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4062BB;
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

#boutonCodePostal p{
    color: #e9f0f1;
}

#infoDepartement{
    margin: 0 0 0 10%;
    width: 60%;
}

#div_title_lieu 
{
  margin-left: 50px;
}

#title_lieu
{ 
text-align: center;
color: #000000;
}  

#txt-img-lieu 
{
    display: flex;
    justify-content: space-between;
}

#txt-infos-lieu
{
    margin-left: 50px;   
}


#txt-infos-lieu p 
{

width: 65%;
font-size: 18px;
line-height: 22px;
line-height: 1.5em;
color: #000000; 
} 

#infos-local
{
    margin-left: 50px;   
    width: 65%;
font-size: 18px;
line-height: 22px;
line-height: 1.5em;
color: #000000; 
}

#cont-img-infos 
{
    padding-right: 1%;
}

#img-lieu 
{ 
position: relative;
background-image: url(https://27.monvillagenormand.fr/images/300/327000356.webp); 
background-repeat:no-repeat;
margin-right: 5%;
width: 300px;
height: 400px;
} 
#maCarte1 
{
    border-radius: 10px;
    width: 100%;
    height: 50%; 
}
#journee-patrimoine 
{
    display: flex;
    margin-top: 10%;
    padding: 2%;
    /* font-family: 'Montserrat', sans-serif; */
    flex-direction: column;
    justify-content: space-around;
    
   
}
#journee-patrimoine ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 100vh; 
    border-radius: 20px;
    color: #fff;
    background-color: #4062bb;  
    margin: 1.75rem 0;
    padding: 0rem 1rem 0rem 1rem;
}  
#journee-patrimoine li 
{
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    /* @extend %boxshadow; */
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 0rem 1rem 2rem; 
} 
#journee-patrimoine li:hover 
{
    background-color: #52b2cf; 
    cursor: pointer; 


} 
 #txt-journee-patrimoine 
{
    flex-direction: column;
    display: flex;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-left: -1%;
    
} 

#icone div img{
    transform: scale(0.6);
}

#GroupeDeMiniatures 
{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin-left: 5%;
    margin-top: 10%;
} 

.ImageMiniature 
{
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;  
} 

#nom-ville 
{ 
width: 25%;     
background-color: #4062bb;    
display: flex; 
justify-content: flex-start;
flex-direction: row;
margin-bottom: 5%; 
height: auto;
} 
#txt-nom-ville, #code-postal, #village_fleuri
{
    background-color: #4062bb;
    display: flex;
    flex-direction: row; 
    margin-left: 5px;
    width: 33%; 
    height: 100%;
}
#nom-ville p, #code-postal p
{
    color:#fff;      
}  

#code-postal 
{
    margin-left: 10px;
} 
#village_fleuri div
{
    width: 100%; 
    height: 5vh;
    border: solid #fff; 
    display: flex;
    flex-direction: column; 
    align-items: center;

} 
#village_fleuri div p 
{
    font-size: small;
}


#txt-card 
{
display: flex;
width: 100%;
justify-content: space-around; 
flex-wrap: wrap;
}

#carte-ville 
{
    display: flex;
    border: 1px solid #000000; 
    height: 300px; 
    width: 125px;
    border-radius: 30px;  
    background-image: url("https://76.monvillagenormand.fr/images/300/176000077.webp");
   
} 

/*test*/

  .menu-link {
    text-decoration: none;
    display: block;
    margin: 0.5rem 0;
    font-size: 1rem;
    line-height: 1.4;
    position: relative; /* used with absolute for positioning underline */
  }

  .menu-link:after {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    height: 2px;
    line-height: 1;
    width: 100%;
    background-color: #fdc758;
    transform-origin: right bottom;
    transform: scaleX(0);
    transition: transform 0.4s linear;
  }
  .menu-link:hover:after,
  .menu-link:active:after {
    transform: scaleX(1);
    transform-origin: left bottom;
    transition: transform 0.4s linear;
  }

  nav{
      margin-top: 2%;
      position: fixed;
      width: 13vw;
      height: auto;
        background-color: #4062bb;
        border-radius: 0 30px 30px 0;
  }

  nav li{
      font-size: 1em;
      /* font-family: 'Montserrat', sans-serif; */
      font-family: 'Open Sans', sans-serif;
      list-style: none;
      padding:7%;
      color: #e9f0f1;
  }

  #menuVertical{
      margin: 7%;
  }


  #arrow {

    border: solid #4062BB; 
    border-radius:100% ;
    width: 50px;
    height: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
        
    } 

    #arrow svg 
    {
        width: 75%;
        height: 75%;
    }

    #peopleandcracc 
    {
        width: 90vw;
        height: 80vh;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        margin-left: 15%;
    } 
    #people, #cracc 
    {
        display: flex;
        height: 100%;
        border-radius: 50px;    
    } 
    #people 
    {
    background-color: lightgray; 
    width: 40%;
    }
    #cracc 
    {
        background-color: #4062BB;
        width: 50%;
        flex-direction: column;
        margin-left: -10%;
      
    }  
    #lcoin
    {
     width: 80%;
     margin: 5%; 
     margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    } 
    #cracc h4
    {
        color: #fff ;
    }
    #lcoin a 
    {
        color: lightgray; 
        font-size: medium;
    }
    #apigf
    {
    width: 80%;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between; 
    
    } 
    #apigf p
    {
    font-size: small; 
    white-space: nowrap;
    }
    #apig, #apif
    {
        width: 33%;  
        height: 30px;
        background-color: #52B2CF; 
        border-radius: 25px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    
        cursor: pointer;
    }
    
    .form_frontco_form
    {
       
        height: 80%;
        margin-top: 10%;
        display: flex;
        flex-direction: column; 
        align-items: center;
       
    }  

    .form_frontco
    {
       
       width: 60%;
       
    }  
    
    
    .form_frontco  input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box; 
    background-color: #4062BB;
    font-family: 'Montserrat', sans-serif;
    color: #fff; 
    border: none;
    border-bottom: 2px solid #fff;
    
    } 
    
    .form_frontco  ::placeholder {
        color: #fff;
    }
    
    .form_frontco  input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box; 
        font-family: 'Montserrat', sans-serif;        
        background-color: #4062BB; 
        color: #fff; 
        border: none;
        border-bottom: 2px solid #fff;
      } 
      .form_frontco  input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box; 
        background-color: #4062BB; 
        color: #fff; 
        border: none;
        border-bottom: 2px solid #fff;
      } 
    
    
      
    
    .form_frontco_button input[type=submit]
    {
        width: 300%;
        height: 50px;
        margin-left: -100%;  /*  a modifier */
        margin-top: 50%;
       color: #fff;  
        background-color: #52b2cf; 
        background: linear-gradient(to right, #4062BB, #52B2CF);
        border: none;
        border-radius: 10px;
        box-shadow: 10px 5px 5px #000;
        cursor: pointer;
    
    }

    
.informationsMonument {
    border-radius: 10px;
    padding: 2% 0 0 4%;
    width: 30vw;
    height: 55vh;
    background: #4062BB;
}

.carteInformations{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
}

.titreInfo{
    font-size: 1.5em;
    color: #e9f0f1;
}

.adresseInfo{
    font-size: 0.8em;
    color: #e9f0f1;
}

.imageInfo{
    width: 90%;
    margin-bottom: 5%;
}

.telephoneInfo{
    color: #e9f0f1;
    font-size: 0.8em;
}

img.leaflet-interactive{
    transform: scale(5);
}

/* <span class='titreInfo'>Cirque-Théatre</span></br>
<span class='adresseInfo'>2 Rue Augustin Henry, 76500 Elbeuf</span>
<img class='imageInfo' src="images/cirque.jpg"></img>
<span class='titreInfo'>Cirque-Théatre</span> */ 



#gestion_admin 
{
    
    height: 200%; 
    width: 20%; 
    margin-left: 0px;
    background-color: #4062BB; 
    display: flex;  
    flex-direction: column;   
    border-radius: 0px 20px 20px 0px;
    
    
}  


#admindep, #admin, #membre
{
display: flex; 
flex-direction: column; 
margin-left: 1%;
margin-top: 5%;  

}   


#admindep p, #admin p, #membre p 
{
    color: #fdc758; 
    font-weight: bold;
}


#membre  
{
    margin-top: 1%;   
}

#admindep span, #admin span, #membre span
{
    margin-left: 5px;  
    color: #fff;
}
.menu__item_gestion_membre, .menu__item_gestion_admin, .menu__item_gestion_admindep
{
    margin-top: 2%;
    cursor: pointer; 

  
}


.menu__item_gestion_membre, .menu__item_gestion_admin, .menu__item_gestion_admindep{
    text-decoration: none;
    display: block;
    margin: 0.5rem 0;
    font-size: 1rem;
    line-height: 1.4;
    position: relative; /* used with absolute for positioning underline */
  }

  .menu__item_gestion_membre:after,.menu__item_gestion_admin::after ,.menu__item_gestion_admindep:after  {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    left: 0;
    height: 2px;
    line-height: 1;
    width: 100%;
    background-color: #fdc758;
    transform-origin: right bottom;
    transform: scaleX(0);
    transition: transform 0.4s linear;
  }
  .menu__item_gestion_membre:hover:after,
  .menu__item_gestion_membre:active:after {
    transform: scaleX(1);
    transform-origin: left bottom;
    transition: transform 0.4s linear;
  } 

  .menu__item_gestion_admin:hover:after, 
  .menu__item_gestion_admin:active:after 
  {
    transform: scaleX(1);
    transform-origin: left bottom;
    transition: transform 0.4s linear;   
  } 
  .menu__item_gestion_admindep:hover:after, 
  .menu__item_gestion_admindep:active:after 
  {
    transform: scaleX(1);
    transform-origin: left bottom;
    transition: transform 0.4s linear;  
  }

  #depot_photo 
  {
      
      margin-top: -60%; 
      margin-left: 35%; 
      width: 50%;
      height: 80vh; 
      border-radius: 40px;
      display: flex; 
      align-items: center;
      flex-direction: column; 
    
      background-color: #4062BB; 
  }  

  #depot_photo h4 
  {
color: #fff; 
margin-top: 5%;
  }

  input[type="file"]
  {
    border-style: none;
    border-radius: 5px; 
    background-color: #fdc758;
  } 

  #zonededepot
  {
      margin-top: 5%;
      width: 75%; 
      height:  50%;
      background-color: #fdc758; 
      border-color: #fff;
      border-style: dashed;  
      display: flex;
      align-items: center; 
  }  
  #zonededepot p 
  {
      color: #4062BB;
  } 

  #modinfos
  {
    background-color: #4062BB;
    width: 50%; 
    height: 50vh;
    flex-direction: column; 
    border-radius: 50px; 
    margin-left: 30%; 
    margin-top: -50%;
  }
  #modinfos form 
  {
      height: 200%;
  }